/* Config */
:root {
  --sk-size: 40px;
  --sk-color: #333;
}


/* Utility class for centering */
.sk-center { margin: auto; }


/*  Plane

      <div class="sk-plane"></div>
 */
.sk-plane {
  width: var(--sk-size);
  height: var(--sk-size);
  background-color: var(--sk-color);
  animation: sk-plane 1.2s infinite ease-in-out; 
}

@keyframes sk-plane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg); 
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); 
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); 
  } 
}


/*  Chase

      <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
      </div>
 */
.sk-chase {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative;
  animation: sk-chase 2.5s infinite linear both; 
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: var(--sk-color);
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}


/*  Bounce

      <div class="sk-bounce">
        <div class="sk-bounce-dot"></div>
        <div class="sk-bounce-dot"></div>
      </div>
  */
.sk-bounce {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative;
}

.sk-bounce-dot {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--sk-color);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}

.sk-bounce-dot:nth-child(2) { animation-delay: -1.0s; }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
  } 45%, 55% {
    transform: scale(1); 
  } 
}


/*  Wave

      <div class="sk-wave">
        <div class="sk-wave-rect"></div>
        <div class="sk-wave-rect"></div>
        <div class="sk-wave-rect"></div>
        <div class="sk-wave-rect"></div>
        <div class="sk-wave-rect"></div>
      </div>
 */
.sk-wave {
  width: var(--sk-size);
  height: var(--sk-size);
  display: flex;
  justify-content: space-between;
}

.sk-wave-rect {
  background-color: var(--sk-color);
  height: 100%;
  width: 15%;
  animation: sk-wave 1.2s infinite ease-in-out; 
}

.sk-wave-rect:nth-child(1) { animation-delay: -1.2s; }
.sk-wave-rect:nth-child(2) { animation-delay: -1.1s; }
.sk-wave-rect:nth-child(3) { animation-delay: -1.0s; }
.sk-wave-rect:nth-child(4) { animation-delay: -0.9s; }
.sk-wave-rect:nth-child(5) { animation-delay: -0.8s; }

@keyframes sk-wave {
  0%, 40%, 100% {
    transform: scaleY(0.4); 
  } 20% {
    transform: scaleY(1); 
  } 
}


/*  Pulse

      <div class="sk-pulse"></div>
 */
.sk-pulse {
  width: var(--sk-size);
  height: var(--sk-size);
  background-color: var(--sk-color);
  border-radius: 100%;
  animation: sk-pulse 1.2s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}

@keyframes sk-pulse {
  0% {
    transform: scale(0); 
  } 100% {
    transform: scale(1);
    opacity: 0; 
  }
}


/*  Flow

      <div class="sk-flow">
        <div class="sk-flow-dot"></div>
        <div class="sk-flow-dot"></div>
        <div class="sk-flow-dot"></div>
      </div>
 */
.sk-flow {
  width: calc(var(--sk-size) * 1.3);
  height: calc(var(--sk-size) * 1.3);
  display: flex;
  justify-content: space-between;
}

.sk-flow-dot {
  width: 25%;
  height: 25%;
  background-color: var(--sk-color);
  border-radius: 50%;
  animation: sk-flow 1.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite both;
}

.sk-flow-dot:nth-child(1) { animation-delay: -0.30s; }
.sk-flow-dot:nth-child(2) { animation-delay: -0.15s; }

@keyframes sk-flow {
  0%, 80%, 100% {
    transform: scale(0.3); }
  40% {
    transform: scale(1); 
  }
}


/*  Swing

      <div class="sk-swing">
        <div class="sk-swing-dot"></div>
        <div class="sk-swing-dot"></div>
      </div>
 */
.sk-swing {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative;
  animation: sk-swing 1.8s infinite linear; 
}
  
.sk-swing-dot {
  width: 45%;
  height: 45%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--sk-color);
  border-radius: 100%;
  animation: sk-swing-dot 2s infinite ease-in-out; 
}

.sk-swing-dot:nth-child(2) {
  top: auto;
  bottom: 0;
  animation-delay: -1s; 
}

@keyframes sk-swing {
  100% {
    transform: rotate(360deg); 
  } 
}

@keyframes sk-swing-dot {
  0%, 100% {
    transform: scale(0.2); }
  50% {
    transform: scale(1); 
  } 
}


/*  Circle

      <div class="sk-circle">
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
      </div>
 */
.sk-circle {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative; 
}

.sk-circle-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-circle-dot:before {
    content: '';
    display: block;
    width: 15%;
    height: 15%;
    background-color: var(--sk-color);
    border-radius: 100%;
    animation: sk-circle 1.2s infinite ease-in-out both; 
}

.sk-circle-dot:nth-child(1) { transform: rotate(30deg); }
.sk-circle-dot:nth-child(2) { transform: rotate(60deg); }
.sk-circle-dot:nth-child(3) { transform: rotate(90deg); }
.sk-circle-dot:nth-child(4) { transform: rotate(120deg); }
.sk-circle-dot:nth-child(5) { transform: rotate(150deg); }
.sk-circle-dot:nth-child(6) { transform: rotate(180deg); }
.sk-circle-dot:nth-child(7) { transform: rotate(210deg); }
.sk-circle-dot:nth-child(8) { transform: rotate(240deg); }
.sk-circle-dot:nth-child(9) { transform: rotate(270deg); }
.sk-circle-dot:nth-child(10) { transform: rotate(300deg); }
.sk-circle-dot:nth-child(11) { transform: rotate(330deg); }
.sk-circle-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-circle-dot:nth-child(2):before { animation-delay: -1s; }
.sk-circle-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-circle-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-circle-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-circle-dot:nth-child(6):before { animation-delay: -0.6s; }
.sk-circle-dot:nth-child(7):before { animation-delay: -0.5s; }
.sk-circle-dot:nth-child(8):before { animation-delay: -0.4s; }
.sk-circle-dot:nth-child(9):before { animation-delay: -0.3s; }
.sk-circle-dot:nth-child(10):before { animation-delay: -0.2s; }
.sk-circle-dot:nth-child(11):before { animation-delay: -0.1s; }

@keyframes sk-circle {
  0%, 80%, 100% {
    transform: scale(0); }
  40% {
    transform: scale(1); 
  } 
}


/*  Circle Fade

      <div class="sk-circle-fade">
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
      </div>
 */
.sk-circle-fade {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative; 
}

.sk-circle-fade-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
}

.sk-circle-fade-dot:before {
  content: '';
  display: block;
  width: 15%;
  height: 15%;
  background-color: var(--sk-color);
  border-radius: 100%;
  animation: sk-circle-fade 1.2s infinite ease-in-out both; 
}

.sk-circle-fade-dot:nth-child(1)  { transform: rotate(30deg);  }
.sk-circle-fade-dot:nth-child(2)  { transform: rotate(60deg);  }
.sk-circle-fade-dot:nth-child(3)  { transform: rotate(90deg);  }
.sk-circle-fade-dot:nth-child(4)  { transform: rotate(120deg); }
.sk-circle-fade-dot:nth-child(5)  { transform: rotate(150deg); }
.sk-circle-fade-dot:nth-child(6)  { transform: rotate(180deg); }
.sk-circle-fade-dot:nth-child(7)  { transform: rotate(210deg); }
.sk-circle-fade-dot:nth-child(8)  { transform: rotate(240deg); }
.sk-circle-fade-dot:nth-child(9)  { transform: rotate(270deg); }
.sk-circle-fade-dot:nth-child(10) { transform: rotate(300deg); }
.sk-circle-fade-dot:nth-child(11) { transform: rotate(330deg); }
.sk-circle-fade-dot:nth-child(1):before  { animation-delay: -1.1s; }
.sk-circle-fade-dot:nth-child(2):before  { animation-delay: -1.0s; }
.sk-circle-fade-dot:nth-child(3):before  { animation-delay: -0.9s; }
.sk-circle-fade-dot:nth-child(4):before  { animation-delay: -0.8s; }
.sk-circle-fade-dot:nth-child(5):before  { animation-delay: -0.7s; }
.sk-circle-fade-dot:nth-child(6):before  { animation-delay: -0.6s; }
.sk-circle-fade-dot:nth-child(7):before  { animation-delay: -0.5s; }
.sk-circle-fade-dot:nth-child(8):before  { animation-delay: -0.4s; }
.sk-circle-fade-dot:nth-child(9):before  { animation-delay: -0.3s; }
.sk-circle-fade-dot:nth-child(10):before { animation-delay: -0.2s; }
.sk-circle-fade-dot:nth-child(11):before { animation-delay: -0.1s; }

@keyframes sk-circle-fade {
  0%, 39%, 100% {
    opacity: 0;
    transform: scale(0.6);
  } 40% {
    opacity: 1; 
    transform: scale(1);
  }
}


/*  Grid

    <div class="sk-grid">
      <div class="sk-grid-cube"></div>
      <div class="sk-grid-cube"></div>
      <div class="sk-grid-cube"></div>
      <div class="sk-grid-cube"></div>
      <div class="sk-grid-cube"></div>
      <div class="sk-grid-cube"></div>
      <div class="sk-grid-cube"></div>
      <div class="sk-grid-cube"></div>
      <div class="sk-grid-cube"></div>
    </div>
 */
.sk-grid {
  width: var(--sk-size);
  height: var(--sk-size);
  /* Cube positions
   * 1 2 3
   * 4 5 6
   * 7 8 9
   */ 
 }
.sk-grid-cube {
    width: 33.33%;
    height: 33.33%;
    background-color: var(--sk-color);
    float: left;
    animation: sk-grid 1.3s infinite ease-in-out; 
}
.sk-grid-cube:nth-child(1) { animation-delay: 0.2s; }
.sk-grid-cube:nth-child(2) { animation-delay: 0.3s; }
.sk-grid-cube:nth-child(3) { animation-delay: 0.4s; }
.sk-grid-cube:nth-child(4) { animation-delay: 0.1s; }
.sk-grid-cube:nth-child(5) { animation-delay: 0.2s; }
.sk-grid-cube:nth-child(6) { animation-delay: 0.3s; }
.sk-grid-cube:nth-child(7) { animation-delay: 0.0s; }
.sk-grid-cube:nth-child(8) { animation-delay: 0.1s; }
.sk-grid-cube:nth-child(9) { animation-delay: 0.2s; }

@keyframes sk-grid {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1); 
  } 35% {
    transform: scale3D(0, 0, 1); 
  } 
}


/*  Fold

      <div class="sk-fold">
        <div class="sk-fold-cube"></div>
        <div class="sk-fold-cube"></div>
        <div class="sk-fold-cube"></div>
        <div class="sk-fold-cube"></div>
      </div>
 */
.sk-fold {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative;
  transform: rotateZ(45deg); 
}
.sk-fold-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1); 
}

.sk-fold-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--sk-color);
  animation: sk-fold 2.4s infinite linear both;
  transform-origin: 100% 100%; 
}
.sk-fold-cube:nth-child(2) { transform: scale(1.1) rotateZ(90deg); }
.sk-fold-cube:nth-child(4) { transform: scale(1.1) rotateZ(180deg); }
.sk-fold-cube:nth-child(3) { transform: scale(1.1) rotateZ(270deg); }
.sk-fold-cube:nth-child(2):before { animation-delay: 0.3s; }
.sk-fold-cube:nth-child(4):before { animation-delay: 0.6s; }
.sk-fold-cube:nth-child(3):before { animation-delay: 0.9s; }

@keyframes sk-fold {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  } 
}


/*  Wander

      <div class="sk-wander">
        <div class="sk-wander-cube"></div>
        <div class="sk-wander-cube"></div>
        <div class="sk-wander-cube"></div>
        <div class="sk-wander-cube"></div>
      </div>
 */
.sk-wander {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative; 
}

.sk-wander-cube {
  background-color: var(--sk-color);
  width: 20%;
  height: 20%;
  position: absolute;
  top: 0;
  left: 0;
  --sk-wander-distance: calc(var(--sk-size) * 0.75);
  animation: sk-wander 2.0s ease-in-out -2.0s infinite both;
}
.sk-wander-cube:nth-child(2) { animation-delay: -0.5s; }
.sk-wander-cube:nth-child(3) { animation-delay: -1.0s; }

@keyframes sk-wander {
  0% {
    transform: rotate(0deg); 
  } 25% {
    transform: translateX(var(--sk-wander-distance)) rotate(-90deg) scale(0.6); 
  } 50% { /* Make FF rotate in the right direction */
    transform: translateX(var(--sk-wander-distance)) translateY(var(--sk-wander-distance)) rotate(-179deg); 
  } 50.1% {
    transform: translateX(var(--sk-wander-distance)) translateY(var(--sk-wander-distance)) rotate(-180deg); 
  } 75% {
    transform: translateX(0) translateY(var(--sk-wander-distance)) rotate(-270deg) scale(0.6);
  } 100% {
    transform: rotate(-360deg); 
  }
}

@charset "UTF-8";
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #fff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }
  a:hover, a:focus {
    color: #23527c;
    text-decoration: underline; }
  a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.428571429;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Black.eot");
  src: local("☺"), url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.ttf") format("truetype"), url("../fonts/Montserrat-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Light.eot");
  src: local("☺"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

body {
  background-color: #0c0c0c;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }
  body.detail {
    background-color: #fff; }

.l-viewport {
  position: relative;
  width: 100%;
  height: 100vh;
  box-shadow: 0 0 45px 5px rgba(0, 0, 0, 0.85);
  overflow: hidden; }

.l-wrapper {
  position: relative;
  width: 1440px;
  max-width: 90%;
  height: 100%;
  margin: 0 auto; }

.l-side-nav {
  position: absolute;
  left: 0;
  display: flex;
  height: 100%;
  align-items: center; }
  .l-side-nav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 2px;
    height: 70%;
    max-height: 750px;
    background-color: #555;
    opacity: .35;
    z-index: 10; }
  @media (max-width: 1180px) {
    .l-side-nav {
      display: none; } }

.l-main-content {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }

.l-section {
  position: absolute;
  width: 100%;
  height: 100%; }

.device-notification {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0c0c0c;
  z-index: 12; }
  .device-notification--logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff; }
    .device-notification--logo p {
      margin: 0 0 0 10px;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase; }
  .device-notification--message {
    width: 70%;
    margin: 30px 0 0 0;
    font-weight: 700;
    text-align: center; }
  @media (max-width: 767px) and (min-width: 601px) and (max-height: 680px) {
    .device-notification {
      display: flex; } }
  @media (max-width: 600px) and (min-width: 480px) and (max-height: 580px) {
    .device-notification {
      display: flex; } }
  @media (max-width: 736px) and (min-width: 360px) and (orientation: landscape) {
    .device-notification {
      display: flex; } }
  @media (max-width: 359px) {
    .device-notification {
      display: flex; } }

.section {
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease-in-out, visibility 0s .4s; }
  .section--is-active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: opacity .4s ease-in-out .4s; }
  .section--next {
    transform: translateY(-45px);
    transition: transform .4s ease-in-out; }
  .section--prev {
    transform: translateY(45px);
    transition: transform .4s ease-in-out; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  z-index: 10; }
  .header--logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff; }
    .header--logo p {
      margin: 0 0 0 10px;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase; }
  .header--nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .header--nav-toggle span, .header--nav-toggle::before, .header--nav-toggle::after {
      content: "";
      position: relative;
      width: 16px;
      height: 2px;
      background-color: #fff; }
    .header--nav-toggle::before {
      bottom: 5px;
      width: 23px; }
    .header--nav-toggle::after {
      top: 5px;
      width: 23px; }
  .header--cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    line-height: 30px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #0f33ff;
    border: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s ease-in-out, visibility 0s .4s; }
    .header--cta:focus {
      outline: none; }
    .header--cta.is-active {
      opacity: 1;
      visibility: visible;
      transition: opacity .4s ease-in-out .4s; }
    @media (max-width: 767px) {
      .header--cta {
        display: none; } }

.side-nav {
  position: relative;
  display: flex;
  width: 100px;
  height: 70%;
  max-height: 750px;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style-position: inside;
  z-index: 10; }
  .side-nav > li {
    position: relative;
    top: -5px;
    color: #fff;
    font-size: 6px;
    cursor: pointer; }
    .side-nav > li span {
      position: relative;
      top: 3px;
      left: 10px;
      color: #fff;
      font-size: 14px;
      font-weight: 300;
      opacity: 0;
      visibility: hidden; }
    .side-nav > li::before {
      position: absolute;
      top: 3px;
      left: 10px;
      color: #555;
      font-size: 14px;
      font-weight: 300; }
  .side-nav li:nth-child(1)::before {
    content: "01"; }
  .side-nav li:nth-child(2)::before {
    content: "02"; }
  .side-nav li:nth-child(3)::before {
    content: "03"; }
  .side-nav li:nth-child(4)::before {
    content: "04"; }
  .side-nav li:nth-child(5)::before {
    content: "05"; }
  .side-nav li.is-active {
    color: #0f33ff;
    transition: color .4s ease-in-out; }
    .side-nav li.is-active span {
      opacity: 1;
      visibility: visible;
      transition: opacity .4s ease-in-out; }
    .side-nav li.is-active::before {
      left: -33px;
      color: #fff; }

.intro {
  position: relative;
  display: flex;
  width: 900px;
  max-width: 75%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; }
  @media (max-width: 1180px) {
    .intro {
      max-width: 100%; } }
  .intro--banner {
    position: relative;
    height: 475px; }
    .intro--banner::before {
      content: "";
      position: absolute;
      bottom: 20px;
      left: -15px;
      right: 0;
      height: 2px;
      background-color: #282828; }
    .intro--banner::after {
      content: "";
      position: absolute;
      bottom: 18px;
      left: 0;
      width: 30px;
      height: 4px;
      background-color: #0f33ff; }
    .intro--banner h1 {
      position: relative;
      font-size: 68px;
      font-weight: 900;
      line-height: 1;
      z-index: 1; }
    .intro--banner button {
      position: relative;
      padding: 5px 17px 5px 12px;
      font-weight: 700;
      text-transform: uppercase;
      background-color: transparent;
      border: none; }
      .intro--banner button .btn-background {
        position: absolute;
        top: 0;
        left: 23px;
        right: 0;
        height: 100%;
        background-color: #0f33ff;
        z-index: -1;
        transition: left .2s ease-in-out; }
      .intro--banner button:hover .btn-background {
        left: 0; }
      .intro--banner button:focus {
        outline: none; }
      .intro--banner button svg {
        position: relative;
        left: 5px;
        width: 15px;
        fill: #fff; }
    .intro--banner img {
      position: absolute;
      bottom: 21px;
      right: -12px; }
  .intro--options {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none; }
    .intro--options > span {
      max-width: 250px;
      text-decoration: none;
      color: #fff;
      transition: color .2s ease-in-out;
      position: relative; }
      .intro--options > span .btn-background {
        position: absolute;
        top: 0;
        left: 23px;
        right: -10px;
        height: 100%;
        background-color: #0f33ff;
        z-index: -1;
        transition: left .2s ease-in-out; }
      .intro--options > span:hover {
        color: #fff; }
    .intro--options h3 {
      font-size: 16px;
      text-transform: uppercase; }
    .intro--options p {
      margin-bottom: 0; }

@media (max-width: 900px) {
  .intro--banner {
    height: 380px; }
    .intro--banner h1 {
      font-size: 55px; }
    .intro--banner img {
      width: 430px; }
  .intro--options > a {
    margin-right: 30px; }
    .intro--options > a:last-child {
      margin-right: 0; } }

@media (max-width: 767px) {
  .intro--banner {
    height: 305px; }
    .intro--banner h1 {
      font-size: 44px; }
    .intro--banner img {
      width: 330px; }
  .intro--options {
    display: block; }
    .intro--options > a {
      display: block;
      max-width: 100%;
      margin: 0 0 30px 0; }
      .intro--options > a:last-child {
        margin-bottom: 0; } }

@media (max-width: 600px) {
  .intro--banner {
    height: 360px; }
    .intro--banner h1 {
      font-size: 55px; }
    .intro--banner img {
      display: none; } }

@media (max-width: 600px) and (max-height: 750px) {
  .intro--banner {
    height: auto; }
    .intro--banner::before, .intro--banner::after {
      display: none; }
    .intro--banner h1 {
      margin-top: 0; }
  .intro--options {
    display: none; } }

.work {
  position: relative;
  display: flex;
  width: 960px;
  max-width: 80%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; }
  @media (max-width: 1180px) {
    .work {
      max-width: 100%; } }
  .work h2 {
    margin: 0 0 20px 0;
    font-size: 30px;
    text-align: center; }
  .work--lockup {
    position: relative; }
    .work--lockup .slider {
      position: relative;
      display: flex;
      width: 80%;
      margin: 0 auto;
      padding: 0;
      list-style: none; }
      .work--lockup .slider--item {
        position: absolute;
        display: none;
        text-align: center; }
        .work--lockup .slider--item a {
          text-decoration: none;
          color: #858585; }
        .work--lockup .slider--item-title {
          margin-top: 10px;
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase; }
        .work--lockup .slider--item-description {
          display: none;
          max-width: 250px;
          margin: 0 auto; }
        .work--lockup .slider--item-image {
          width: 150px;
          height: 150px;
          margin: 0 auto;
          border-radius: 50%;
          overflow: hidden; }
          .work--lockup .slider--item-image img {
            width: 100%; }
        .work--lockup .slider--item-left {
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          display: block; }
        .work--lockup .slider--item-right {
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          display: block; }
        .work--lockup .slider--item-center {
          position: relative;
          top: 30px;
          left: 50%;
          transform: translateX(-50%);
          display: block; }
          .work--lockup .slider--item-center a {
            color: #fff; }
          .work--lockup .slider--item-center .slider--item-title {
            margin-top: 25px;
            font-size: 16px; }
          .work--lockup .slider--item-center .slider--item-description {
            display: block; }
          .work--lockup .slider--item-center .slider--item-image {
            width: 300px;
            height: 300px; }
    .work--lockup .slider--next,
    .work--lockup .slider--prev {
      position: absolute;
      top: 160px;
      display: flex;
      width: 50px;
      height: 50px;
      align-items: center;
      justify-content: center;
      background-color: #282828;
      border-radius: 50%;
      cursor: pointer; }
      .work--lockup .slider--next svg,
      .work--lockup .slider--prev svg {
        width: 20px;
        fill: #fff; }
    .work--lockup .slider--next {
      right: 0; }
    .work--lockup .slider--prev {
      left: 0; }

@media (max-width: 900px) {
  .work--lockup .slider--item-image {
    width: 120px;
    height: 120px; }
  .work--lockup .slider--item-center .slider--item-image {
    width: 240px;
    height: 240px; }
  .work--lockup .slider--next,
  .work--lockup .slider--prev {
    top: 130px; } }

@media (max-width: 767px) {
  .work--lockup .slider {
    width: 75%; }
    .work--lockup .slider--item-image {
      width: 90px;
      height: 90px; }
    .work--lockup .slider--item-center .slider--item-image {
      width: 190px;
      height: 190px; }
  .work--lockup .slider--next,
  .work--lockup .slider--prev {
    top: 105px; } }

@media (max-width: 600px) {
  .work--lockup .slider {
    width: auto; }
    .work--lockup .slider--item-left, .work--lockup .slider--item-right {
      display: none; } }

.about {
  position: relative;
  display: flex;
  width: 900px;
  max-width: 75%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; }
  .about--banner font {
    position: relative; }
    .about--banner font i {
      display: inline-block;
      width: 100px;
      height: 100px;
      background: url("../images/about-visual.png") no-repeat top center;
      background-size: 90%; }
  @media (max-width: 1180px) {
    .about {
      max-width: 100%; } }
  .about--banner {
    position: relative;
    height: 475px; }
    .about--banner::before {
      content: "";
      position: absolute;
      top: 20px;
      left: 200px;
      transform: rotate(-25deg);
      border: 5px solid #0f33ff;
      border-right-color: transparent;
      border-bottom-color: transparent; }
    .about--banner::after {
      content: "";
      position: absolute;
      top: 75px;
      left: 400px;
      transform: rotate(45deg);
      width: 10px;
      height: 10px;
      background-color: #0f33ff; }
    .about--banner h2 {
      position: relative;
      margin-top: 35px;
      font-size: 68px;
      font-weight: 900;
      line-height: 1;
      z-index: 1; }
      .about--banner h2::before {
        content: "";
        position: absolute;
        top: 60px;
        left: 268px;
        width: 30px;
        height: 30px;
        background-color: #0f33ff;
        border-radius: 50%; }
      .about--banner h2::after {
        content: "";
        position: absolute;
        top: 255px;
        left: 255px;
        width: 10px;
        height: 10px;
        background-color: #0f33ff; }
    .about--banner a {
      padding: 5px 17px 5px 0;
      text-decoration: none;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      background-color: transparent; }
      .about--banner a:hover svg {
        left: 10px; }
      .about--banner a svg {
        position: relative;
        left: 5px;
        width: 15px;
        fill: #fff;
        transition: left .2s ease-in-out; }
    .about--banner img {
      position: absolute;
      bottom: -90px;
      right: -12px; }
  .about--options {
    display: flex;
    max-width: 600px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none; }
    .about--options > a {
      position: relative;
      width: 150px;
      height: 75px;
      text-decoration: none;
      color: #fff;
      border: 10px solid #0f33ff;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
      .about--options > a:nth-child(1) {
        background-image: url("../images/gmail.png");
        background-size: 42px;
        border: 10px solid #ca3737; }
      .about--options > a:nth-child(2) {
        background-image: url("../images/linkedin.png");
        background-size: 32px;
        border: 10px solid #0077b7; }
      .about--options > a:hover h3 {
        bottom: -50px; }
    .about--options h3 {
      position: absolute;
      bottom: -38px;
      left: 10px;
      font-size: 16px;
      text-transform: uppercase;
      transition: bottom .2s ease-in-out, left .2s ease-in-out; }

@media (max-width: 767px) {
  .about--banner {
    height: 305px; }
    .about--banner::before {
      top: 0;
      left: 125px; }
    .about--banner::after {
      top: 35px;
      left: 260px; }
    .about--banner h2 {
      margin-top: 10px;
      font-size: 44px; }
      .about--banner h2::before {
        top: 28px;
        left: 168px; }
      .about--banner h2::after {
        top: 163px;
        left: 163px; }
    .about--banner img {
      width: 315px; } }

@media (max-width: 600px) {
  .about--banner {
    height: auto; }
    .about--banner::before {
      left: 155px; }
    .about--banner::after {
      left: 310px; }
    .about--banner h2 {
      margin-top: 0;
      font-size: 55px; }
      .about--banner h2::before {
        top: 43px;
        left: 214px; }
      .about--banner h2::after {
        top: 205px;
        left: 205px; }
    .about--banner img {
      display: none; }
  .about--options {
    display: none; } }

.contact {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/contact-visual.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .contact--lockup {
    position: relative;
    display: flex;
    width: 900px;
    max-width: 75%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto; }
    @media (max-width: 1180px) {
      .contact--lockup {
        max-width: 90%; } }
    @media (max-width: 767px) {
      .contact--lockup {
        justify-content: center; } }
    .contact--lockup .modal {
      padding: 45px 45px;
      text-align: center;
      background-color: #0c0c0c;
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.75); }
      .contact--lockup .modal--information p,
      .contact--lockup .modal--information a {
        display: block;
        margin: 14px 0;
        text-decoration: none;
        color: #fff;
        font-weight: 700; }
      .contact--lockup .modal--information p {
        margin-top: 0; }
      .contact--lockup .modal--options {
        margin: 0;
        padding: 0;
        list-style: none; }
        .contact--lockup .modal--options > li {
          width: 130px;
          margin: 0 auto 25px auto; }
        .contact--lockup .modal--options li:nth-child(1) {
          background-color: #1769ff; }
        .contact--lockup .modal--options li:nth-child(2) {
          background-color: #ea4c89; }
        .contact--lockup .modal--options li:nth-child(3) {
          margin-bottom: 0;
          background-color: #0f33ff;
          text-transform: uppercase; }
        .contact--lockup .modal--options a {
          display: block;
          width: 100%;
          padding: 8px 0;
          text-decoration: none;
          color: #fff;
          font-weight: 700; }

.hire {
  position: relative;
  display: flex;
  width: 700px;
  max-width: 75%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; }
  @media (max-width: 1180px) {
    .hire {
      max-width: 100%; } }
  .hire h2 {
    margin: 0 0 20px 0;
    font-size: 30px;
    text-align: center; }

.work-request {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: #fff; }
  .work-request input[type="submit"] {
    width: 400px;
    max-width: 100%;
    line-height: 50px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #0f33ff;
    border: none;
    border-radius: 0; }
    .work-request input[type="submit"]:focus {
      outline: none; }
  .work-request--options {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 30px 0; }
    .work-request--options .options-a {
      display: flex;
      width: 100%;
      justify-content: space-between; }
    .work-request--options .options-b {
      display: flex;
      width: 72%;
      flex-wrap: wrap;
      justify-content: space-around; }
    .work-request--options label {
      display: block;
      width: 200px;
      margin-bottom: 30px;
      line-height: 50px;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      border: 2px solid #fff;
      cursor: pointer;
      transition: background-color .2s ease-in-out, border-color .2s ease-in-out; }
      .work-request--options label svg {
        position: relative;
        left: -5px;
        width: 0;
        fill: #fff;
        transition: width .2s ease-in-out; }
    .work-request--options input[type="checkbox"] {
      display: none; }
      .work-request--options input[type="checkbox"]:checked + label {
        background-color: #0f33ff;
        border-color: #0f33ff; }
        .work-request--options input[type="checkbox"]:checked + label svg {
          width: 15px; }
  .work-request--information {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 60px; }
    .work-request--information .information-name,
    .work-request--information .information-email {
      position: relative;
      width: 45%;
      height: 50px;
      font-size: 30px;
      font-weight: 300; }
    .work-request--information input[type="text"],
    .work-request--information input[type="email"] {
      width: 100%;
      padding: 0 0 5px 0;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      border-radius: 0; }
      .work-request--information input[type="text"]:focus,
      .work-request--information input[type="email"]:focus {
        outline: none;
        background-color: #0c0c0c; }
    .work-request--information label {
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      transition: top .2s ease-in-out, font-size .2s ease-in-out; }
    .work-request--information input:focus + label,
    .work-request--information input.has-value + label {
      top: -15px;
      font-size: 14px; }

@media (max-width: 767px) {
  .work-request--options {
    flex-direction: row;
    justify-content: space-around; }
    .work-request--options .options-a,
    .work-request--options .options-b {
      display: block;
      width: auto; } }

@media (max-width: 600px) {
  .work-request--options {
    margin: 20px 0; } }
  @media (max-width: 600px) and (max-width: 415px) {
    .work-request--options {
      justify-content: space-between; } }

@media (max-width: 600px) {
    .work-request--options label {
      width: 150px;
      margin-bottom: 15px;
      font-size: 14px; }
    .work-request--options input[type="checkbox"]:checked + label svg {
      width: 12px; }
  .work-request--information {
    margin-bottom: 30px; }
    .work-request--information .information-name,
    .work-request--information .information-email {
      height: 40px;
      font-size: 24px; } }

.perspective {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .perspective--modalview {
    position: fixed;
    perspective: 1500px; }

.container {
  position: relative;
  transform: translateZ(0) translateX(0) rotateY(0deg);
  min-height: 100%;
  outline: 30px solid #0f33ff;
  transition: transform .4s; }

.modalview .container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden; }

.effect-rotate-left .container {
  transform-origin: 0% 50%;
  transition: transform .4s; }

.effect-rotate-left--animate .container {
  transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
  outline: 30px solid #0f33ff; }

.outer-nav {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translateY(-50%);
  transform-style: preserve-3d;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  visibility: hidden;
  transition: visibility 0s .2s; }
  .outer-nav.is-vis {
    visibility: visible; }
  .outer-nav--return {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    cursor: pointer;
    z-index: 11; }
    .outer-nav--return.is-vis {
      display: block; }
  .outer-nav > li {
    transform-style: preserve-3d;
    transform: translateX(350px) translateZ(-1000px);
    font-size: 55px;
    font-weight: 900;
    opacity: 0;
    cursor: pointer;
    transition: transform .2s, opacity .2s; }
    .outer-nav > li.is-vis {
      transform: translateX(0) translateZ(0);
      opacity: 1;
      transition: transform .4s, opacity .4s; }
    .outer-nav > li::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -25%);
      width: 110%;
      height: 15px;
      opacity: 0;
      background-color: #0f33ff; }
    .outer-nav > li.is-active::before {
      opacity: 1; }
    @media (max-width: 767px) {
      .outer-nav > li {
        font-size: 44px; } }
    @media (max-width: 600px) {
      .outer-nav > li {
        font-size: 34px; } }
  .outer-nav li.is-vis:nth-child(2) {
    transition-delay: .04s; }
  .outer-nav li.is-vis:nth-child(3) {
    transition-delay: .08s; }
  .outer-nav li.is-vis:nth-child(4) {
    transition-delay: .12s; }
  .outer-nav li.is-vis:nth-child(5) {
    transition-delay: .16s; }

.detail .container {
  width: 80%;
  margin: 0 auto;
  outline: none; }
  @media (max-width: 767px) {
    .detail .container {
      width: 100%; } }

.header.case {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  padding-top: 1rem;
  position: fixed; }
  .header.case.desktop {
    display: block;
    visibility: visible; }
    @media (max-width: 767px) {
      .header.case.desktop {
        display: none;
        visibility: hidden; } }
  .header.case.mobile {
    display: none;
    visibility: hidden; }
    @media (max-width: 767px) {
      .header.case.mobile {
        display: block;
        visibility: visible; } }
  .header.case .wrapper_header {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .header.case .wrapper_header {
        padding: 10px 20px;
        position: relative; } }
  .header.case .header--logo p {
    color: #292929; }
  .header.case nav ul.list-nav.open {
    transform: translateY(0%); }
  @media (max-width: 767px) {
    .header.case nav ul {
      position: absolute;
      width: 100%;
      left: 0;
      padding-left: 0;
      background: #e04343;
      padding-top: 10px;
      padding-bottom: 10px;
      transform: translateY(-300%);
      transition: all 0.5s ease-out; } }
  .header.case nav ul li {
    list-style: none;
    display: inline-block;
    padding-left: 20px; }
    .header.case nav ul li a {
      color: #e04343;
      font-weight: bold; }
      @media (max-width: 767px) {
        .header.case nav ul li a {
          font-size: 12px;
          color: #fff; } }
  .header.case nav button {
    outline: none;
    background: none;
    border: none; }
    .header.case nav button span {
      width: 30px;
      height: 5px;
      background: #e04343;
      display: block;
      margin-bottom: 3px; }

.big-notice {
  font-size: 22px;
  color: #e04343;
  font-weight: bold; }

.wrapper_grey {
  background-color: #F5F5F5;
  padding: 5%; }

.title {
  font-size: 4rem; }
  @media (max-width: 767px) {
    .title {
      font-size: 3rem;
      line-height: 3.5rem; } }

.center_images {
  text-align: center; }
  .center_images.full-width img {
    width: 100%;
    max-width: 100%; }
  .center_images.small-images img {
    width: 280px;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .center_images.small-images img {
        width: 100%; } }
  .center_images img {
    max-width: 60%; }
    @media (max-width: 767px) {
      .center_images img {
        max-width: 100%; } }

.images-wrapper img {
  width: 100%; }

.images-wrapper span {
  text-align: left;
  display: block;
  margin-top: 5px;
  color: #757575;
  font-size: 14px; }

.images-wrapper video {
  width: 80%;
  margin: 0 auto; }

.images-wrapper.auto img {
  width: auto; }
  @media (max-width: 767px) {
    .images-wrapper.auto img {
      width: 100%; } }

.detail {
  color: #292929; }
  .detail_images {
    background-color: #F5F5F5;
    margin: 5% 0 2% 0;
    text-align: center;
    padding: 5% 0; }
    .detail_images span {
      text-align: left;
      display: block;
      margin-top: 5px; }
  .detail_case {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px; }
    .detail_case.no-padding-top {
      padding-top: 0; }
  .detail_top {
    display: flex;
    align-items: flex-start; }
    .detail_top-images {
      width: 60px;
      margin-right: 20px; }
      .detail_top-images img {
        width: 100%;
        border-radius: 50%; }
    .detail_top-info {
      padding-top: 5px; }
      .detail_top-info h3 {
        margin-top: 0;
        margin-bottom: 0px;
        color: #424040; }
      .detail_top-info p {
        margin-top: 0;
        color: #757575; }
  .detail_content {
    padding-top: 2rem; }
    .detail_content p {
      font-size: 16px;
      line-height: 28px; }
    .detail_content h4 {
      font-size: 32px;
      margin-top: 0; }
      @media (max-width: 767px) {
        .detail_content h4 {
          font-size: 26px;
          line-height: 32px; } }
    .detail_content h5 {
      font-size: 20px;
      margin-top: 0;
      color: #292929;
      margin-bottom: 0; }
    .detail_content ul li {
      font-size: 16px;
      line-height: 28px; }
